Repository dotnet/dotnet-buildtools-prereqs-docker: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/dotnet-buildtools-prereqs-alpine.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml, eng/pipelines/dotnet-buildtools-prereqs-centos.yml, eng/pipelines/dotnet-buildtools-prereqs-centos6.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos7.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-centos8.yml, eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-debian.yml, eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml, eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

eng/pipelines/dotnet-buildtools-prereqs-alpine.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300

eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 210
      linuxArmBuildJobTimeout: 300

eng/pipelines/dotnet-buildtools-prereqs-centos6.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

eng/pipelines/dotnet-buildtools-prereqs-centos7.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 300

eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml
    parameters:
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-centos8.yml:
  stages:
  - template: ../common/templates/stages/dotnet/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}
      linuxAmdBuildJobTimeout: 210

eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml:
  stages:
  - template: ../common/templates/stages/build-test-publish-repo.yml

eng/pipelines/dotnet-buildtools-prereqs-fedora.yml:
  stages:
  - template: stages/build-test-publish-repo.yml
    parameters:
      internalProjectName: ${{ variables.internalProjectName }}
      publicProjectName: ${{ variables.publicProjectName }}

[wasm] Bump emscripten to 3.1.34
  src/ubuntu/18.04/webassembly-net8/Dockerfile
  src/ubuntu/20.04/webassembly-net8/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly-net8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[wasm] Bump emscripten to 3.1.34 (#831)
  src/ubuntu/18.04/webassembly-net8/Dockerfile
  src/ubuntu/20.04/webassembly-net8/Dockerfile
  src/windowsservercore/ltsc2022/helix/webassembly-net8/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Simplify gpg commands
  src/ubuntu/22.04/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix newline at file end
  src/ubuntu/22.04/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Cleanup
  src/raspbian/10/helix/arm32v6/Dockerfile
  src/ubuntu/18.04/cross/arm-alpine/Dockerfile
  src/ubuntu/18.04/cross/arm/Dockerfile
  src/ubuntu/18.04/cross/armel-tizen/Dockerfile
  src/ubuntu/22.04/cross/arm64/Dockerfile
  src/ubuntu/22.04/cross/riscv64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix newline
  src/cbl-mariner/2.0/cross/x86/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Try defining separate stage for artifacts
  src/cbl-mariner/2.0/cross/arm64/Dockerfile
  src/cbl-mariner/2.0/cross/x86/Dockerfile
  src/cbl-mariner/2.0/crossdeps-arm/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix mariner 1.0 base image
  src/cbl-mariner/1.0/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Order manifest entries by dependency order
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix order
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Increase timeout
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add signing keys for raspbian and debian sid rootfs build (#829)
  src/raspbian/10/crossdeps/Dockerfile
  src/ubuntu/22.04/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Avoid local-only tags
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Optimize image size
  src/cbl-mariner/2.0/cross/amd64-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/amd64/Dockerfile
  src/cbl-mariner/2.0/cross/arm64-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/arm64/Dockerfile
  src/cbl-mariner/2.0/cross/x86/Dockerfile
  src/cbl-mariner/2.0/crossdeps-arm/Dockerfile
  src/cbl-mariner/2.0/crossdeps-artifacts/Dockerfile
  src/cbl-mariner/2.0/crossdeps-builder/Dockerfile
  src/cbl-mariner/2.0/crossdeps-builder/dimitri_john_ledkov.asc
  src/cbl-mariner/2.0/crossdeps-builder/mariner-extended.repo
  src/cbl-mariner/2.0/crossdeps/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Ensure qemu-user-static is available
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Use local-only images, fix indentation
  src/cbl-mariner/2.0/crossdeps-amd64/Dockerfile
  src/cbl-mariner/2.0/crossdeps-builder/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix capitalization
  src/cbl-mariner/2.0/cross/x86/Dockerfile
  src/cbl-mariner/2.0/crossdeps-arm/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix newlines
  src/cbl-mariner/2.0/cross/amd64-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/arm64-alpine/Dockerfile
  src/cbl-mariner/2.0/crossdeps-arm/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add back non-local version tags
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

[main] Update common Docker engineering infrastructure with latest (#834)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Add mariner build images (#832)
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml
  src/cbl-mariner/1.0/helix/amd64/Dockerfile
  src/cbl-mariner/2.0/cross/amd64-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/amd64/Dockerfile
  src/cbl-mariner/2.0/cross/arm64-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/arm64/Dockerfile
  src/cbl-mariner/2.0/cross/x86/Dockerfile
  src/cbl-mariner/2.0/crossdeps-amd64/Dockerfile
  src/cbl-mariner/2.0/crossdeps-arm/Dockerfile
  src/cbl-mariner/2.0/crossdeps-builder/Dockerfile
  src/cbl-mariner/2.0/crossdeps-builder/dimitri_john_ledkov.asc
  src/cbl-mariner/2.0/crossdeps-builder/mariner-extended.repo
  src/cbl-mariner/2.0/crossdeps/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add 'su' to mariner images
  src/cbl-mariner/2.0/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add 'su' to mariner images (#835)
  src/cbl-mariner/2.0/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add arm mariner build images with numa headers
  src/cbl-mariner/2.0/cross/arm-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/arm/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Remove numa headers
  src/cbl-mariner/2.0/cross/arm-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/arm/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update MsQuic on Fedora and Mariner
  src/cbl-mariner/2.0/helix/amd64/Dockerfile
  src/fedora/36/amd64/Dockerfile
  src/fedora/36/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Update MsQuic on Fedora and Mariner (#837)
  src/cbl-mariner/2.0/helix/amd64/Dockerfile
  src/fedora/36/amd64/Dockerfile
  src/fedora/36/helix/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-fedora.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add arm mariner build images (#836)
  src/cbl-mariner/2.0/cross/arm-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/arm/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Upgrade mariner images to LLVM 16
  src/cbl-mariner/2.0/cross/amd64-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/amd64/Dockerfile
  src/cbl-mariner/2.0/cross/arm/Dockerfile
  src/cbl-mariner/2.0/cross/arm64-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/arm64/Dockerfile
  src/cbl-mariner/2.0/cross/x86/Dockerfile
  src/cbl-mariner/2.0/crossdeps-amd64/Dockerfile
  src/cbl-mariner/2.0/crossdeps-builder/Dockerfile
  src/cbl-mariner/2.0/crossdeps-llvm/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix arm image
  src/cbl-mariner/2.0/cross/arm/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Install diffutils in mariner images
  src/cbl-mariner/2.0/crossdeps-builder/Dockerfile
  src/cbl-mariner/2.0/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Fix arm-alpine image
  src/cbl-mariner/2.0/cross/arm-alpine/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Install diffutils in mariner images (#841)
  src/cbl-mariner/2.0/crossdeps-builder/Dockerfile
  src/cbl-mariner/2.0/crossdeps/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

[main] Update common Docker engineering infrastructure with latest (#838)
  eng/common/templates/variables/docker-images.yml
Due: eng/pipelines/dotnet-buildtools-prereqs-eng.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml

Build llvm using clang on mariner
  src/cbl-mariner/2.0/crossdeps-builder/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Upgrade mariner images to LLVM 16 (#840)
  src/cbl-mariner/2.0/cross/amd64-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/amd64/Dockerfile
  src/cbl-mariner/2.0/cross/arm-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/arm/Dockerfile
  src/cbl-mariner/2.0/cross/arm64-alpine/Dockerfile
  src/cbl-mariner/2.0/cross/arm64/Dockerfile
  src/cbl-mariner/2.0/cross/x86/Dockerfile
  src/cbl-mariner/2.0/crossdeps-amd64/Dockerfile
  src/cbl-mariner/2.0/crossdeps-builder/Dockerfile
  src/cbl-mariner/2.0/crossdeps-llvm/Dockerfile
  src/cbl-mariner/manifest.json
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Build llvm using clang on mariner (#842)
  src/cbl-mariner/2.0/crossdeps-builder/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-mariner.yml, eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Add gcc12, lld, zlib1g-dev to ubuntu 22.04 image
  src/ubuntu/22.04/amd64/Dockerfile
Due: eng/pipelines/dotnet-buildtools-prereqs-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml, eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml, eng/pipelines/dotnet-buildtools-prereqs.yml

Path conditions:
  eng/pipelines/dotnet-buildtools-prereqs-alpine.yml: any of: src/alpine
  eng/pipelines/dotnet-buildtools-prereqs-centos-pr.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos-stream9.yml: any of: src/centos/stream9
  eng/pipelines/dotnet-buildtools-prereqs-centos.yml: any of: src/centos
  eng/pipelines/dotnet-buildtools-prereqs-centos6.yml: any of: src/centos/6
  eng/pipelines/dotnet-buildtools-prereqs-centos7-pr.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos7.yml: any of: src/centos/7
  eng/pipelines/dotnet-buildtools-prereqs-centos8-pr.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-centos8.yml: any of: src/centos/8
  eng/pipelines/dotnet-buildtools-prereqs-debian-pr.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-debian.yml: any of: src/debian
  eng/pipelines/dotnet-buildtools-prereqs-eng.yml: any file but: src, README.md
  eng/pipelines/dotnet-buildtools-prereqs-fedora-pr.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-fedora.yml: any of: src/fedora
  eng/pipelines/dotnet-buildtools-prereqs-mariner-pr.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-mariner.yml: any of: src/cbl-mariner
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1803.yml: any of: src/nanoserver/1803
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809-pr.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver-1809.yml: any of: src/nanoserver/1809
  eng/pipelines/dotnet-buildtools-prereqs-nanoserver.yml: any of: src/nanoserver
  eng/pipelines/dotnet-buildtools-prereqs-opensuse-pr.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-opensuse.yml: any of: src/opensuse
  eng/pipelines/dotnet-buildtools-prereqs-pr.yml: any file but: *.md
  eng/pipelines/dotnet-buildtools-prereqs-raspbian-pr.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-raspbian.yml: any of: src/raspbian
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu-pr.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu.yml: any of: src/ubuntu
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16-pr.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu16.yml: any of: src/ubuntu/16.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18-pr.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu18.yml: any of: src/ubuntu/18.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19-pr.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu19.yml: any of: src/ubuntu/19*
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20-pr.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu20.yml: any of: src/ubuntu/20.04
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21-pr.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-ubuntu21.yml: any of: src/ubuntu/21.04, src/ubuntu/21.10
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004-pr.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windows-2004.yml: any of: src/windows/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909-pr.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-1909.yml: any of: src/windowsservercore/1909
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004-pr.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-2004.yml: any of: src/windowsservercore/2004
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-20H2.yml: any of: src/windowsservercore/20H2
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019-pr.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-ltsc2019.yml: any of: src/windowsservercore/ltsc2019
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore-pr.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs-windowsservercore.yml: any of: src/windowsservercore
  eng/pipelines/dotnet-buildtools-prereqs.yml: any of: manifest.json, src
